---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Kontakt from '../components/Kontakt.astro';
---
<MainLayout title="Titel">
<!-------------------------------- HERO SEKTION ---------------------->

<article class="bg-cover bg-center bg-[url('/src/assets/images/forsideweb.png')] mt-24">

<section class="grid grid-cols-1 gap-16 p-20 ">
	<h1 class=" pt-24 text-6xl font-albert font-black text-darkblue-500"> RESULTATER VI ER<br>
STOLTE AF</h1>
	</section>

<section>
<p class="text-base max-w-md font-outfit text-darkblue-500" >Full-service digitalt marketingbureau med høje ambitioner for vores kunder og målrettede resultater der kan hjælpe dig til det næste niveau</p>
</section>

	</article>
	<!-------------------------------- HERO SEKTION SLUT ---------------------->
</MainLayout>