---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Kontakt from '../components/Kontakt.astro';
---
<MainLayout title="Titel">
<!-------------------------------- HERO SEKTION ---------------------->

<article class="bg-cover bg-center bg-[url('/src/assets/images/forsideweb.png')] mt-24">

<section class="grid grid-cols-1 gap-16 p-20 ">
	<h1 class=" pt-24 text-6xl font-albert font-black text-darkblue-500"> RESULTATER VI ER<br>
STOLTE AF</h1>
	</section>

<section class="grid grid-cols-2 gap-16 p-20">
<p class="text-base max-w-md font-outfit text-darkblue-500 col-start-2">Oplev, hvordan vi har hjulpet virksomheder med at gøre deres digitale visioner til virkelighed. Hver kunde har haft unikke udfordringer og ambitioner, og vores samarbejder spænder fra strategisk rådgivning og specialiseret konsulentarbejde til skræddersyet digital markedsføring – både inden for vores ekspertområder og på tværs af alle digitale platforme.</p>
</section>

	</article>
	<!-------------------------------- HERO SEKTION SLUT ---------------------->
</MainLayout>