---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Kontakt from '../components/Kontakt.astro';
import CardCase from '../components/CardCase.astro';
const kunde = await Astro.glob('../pages/cases/*.md');

const sorteredekunde = kunde.sort((a, b) => {
    if (a.frontmatter.date < b.frontmatter.date) return -1;
    if (a.frontmatter.date > b.frontmatter.date) return 1;
    return 0;
});
const udvalgtekunde = sorteredekunde.slice(0, 3);
---
<MainLayout title="Titel">
<!-------------------------------- HERO SEKTION ---------------------->

	<article class="hidden md:block bg-cover bg-[url('/src/assets/images/heroweb.png')] mt-24  pb-96">
		<section class="grid grid-cols-1 gap-16 p-20 ">
			<h1 class=" pt-24 text-6xl font-albert font-bold text-darkblue-500"> RESULTATER VI ER<br>
			STOLTE AF</h1>
		</section>
		<section class="grid grid-cols-2 gap-16 p-20">
			<p class="text-base max-w-md font-outfit text-darkblue-500 col-start-2">Oplev, hvordan vi har hjulpet virksomheder med at gøre deres digitale visioner til virkelighed. Hver kunde har haft unikke udfordringer og ambitioner, og vores samarbejder spænder fra strategisk rådgivning og specialiseret konsulentarbejde til skræddersyet digital markedsføring – både inden for vores ekspertområder og på tværs af alle digitale platforme.</p>
		</section>
	</article>

<!------------------ mobil ---------------------->

<article class="block md:hidden bg-cover bg-[url('/src/assets/images/heromobil.png')] mt-24">
	<section class="grid grid-cols-1 gap-16 p-6 md:hidden">
	<h1 class="pt-24 mb-12 text-5xl font-albert font-bold text-darkblue-500">RESULTATER <br> VI ER<br> STOLTE AF</h1>
	
	<section>
			<p class="text-base max-w-md font-outfit text-darkblue-500">Oplev, hvordan vi har hjulpet virksomheder med at gøre deres digitale visioner til virkelighed. Hver kunde har haft unikke udfordringer og ambitioner, og vores samarbejder spænder fra strategisk rådgivning og specialiseret konsulentarbejde til skræddersyet digital markedsføring – både inden for vores ekspertområder og på tværs af alle digitale platforme.</p>
		</section>
</article>

	<!-------------------------------- HERO SEKTION SLUT ---------------------->

	<CardCase/>
	<Kontakt
		title="Vil du høre mere om vores arbejde?"
		kontaktbeskrivelse="Har du spørgsmål eller vil vide mere om hvordan vi har skabt målbare resultater for vores kunder, så send os en besked. Vi er klar til at finde den rette løsning til dig."
		kontaktimg="../public/albinot.png"
		kontaktalt="Closeup af Albinot"
		personnavn="Albinot Hoti"
		personbeskrivelse="Co-founder"/>
</MainLayout>